<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aguitech.compartetuexperiencia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1535962496700901"
            android:exported="true" />

        <activity
            android:name=".PantallaActivity"
            android:label="@string/title_activity_pantalla"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity" />
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroExitosoActivity"
            android:label="@string/title_activity_registro_exitoso"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BlogActivity"
            android:label="@string/title_activity_blog"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventosActivity"
            android:label="@string/title_activity_eventos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TriviasActivity"
            android:label="@string/title_activity_trivias"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TerminosCondicionesActivity"
            android:label="@string/title_activity_terminos_condiciones"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AvisoPrivacidadActivity"
            android:label="@string/title_activity_aviso_privacidad"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:label="@string/title_activity_menu_principal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".WebviewActivity" />
        <activity
            android:name=".EventoDetalleActivity"
            android:label="@string/title_activity_evento_detalle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ComoParticiparActivity"
            android:label="@string/title_activity_como_participar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CompartirRedesActivity"
            android:label="@string/title_activity_compartir_redes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PreRegistroActivity"
            android:label="@string/title_activity_pre_registro"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".BlogDetalleActivity"
            android:label="@string/title_activity_blog_detalle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TriviaActivity"
            android:label="@string/title_activity_trivia"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TriviaResultadoActivity"
            android:label="@string/title_activity_trivia_resultado"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GanadoresActivity"
            android:label="@string/title_activity_ganadores"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ContactoActivity"
            android:label="@string/title_activity_contacto"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
